<div id="loading-block">Загрузка...</div>
<div id="loading-failed">
  <div>Неудалось загрузить города</div>
  <button id="retry-button">Повторить</button>
</div>
<div id="filter-block" style="display: none;">
  <input type="text" placeholder="название города" id="filter-input">

  <div id="filter-result"></div>
</div>